.itemsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 1rem;
    margin: 3rem;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

/* Mobile */
@media (max-width: 576px) {
    .itemsGrid {
        margin: 1rem;
    }
}