/* General styling */
.checkoutEmpty {
    margin: 15rem 3rem;
    display: flex;
    justify-content: center;
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
}

.checkoutItemContainer {
    margin: 5rem 3rem 0 3rem;
}

.checkoutItemContainer h1 {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}

.checkoutItem {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px var(--clr-neutral-600);
    padding: 0 1.5rem;
}


/* Item image */
.checkoutItem img {
    width: 30%;
    justify-self: start;
}


/* Item name */
.itemName {
    justify-self: start;
}


/* Item quantity */
.quantityControls {
    justify-self: center;
}

.quantityControls button {
    background-color: transparent;
    border: none;
    font-size: var(--fs-400);
    padding: 0 0.2rem;
    cursor: pointer;
}

.quantityControls span {
    padding: 0 0.3rem;
}


/* Item price */
.itemPrice {
    justify-self: end;
}


/* Item removal */
.removeButton {
    justify-self: end;
    background-color: transparent;
    border: none;
    font-size: var(--fs-500);
    cursor: pointer;
}

.itemSubtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 5rem 0;
}

.itemSubtotal h3 {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
}


/* Item checkout action */
.checkoutInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 5rem 0;
}

.checkoutInfo h3 {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
}

.checkoutInfo button {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    border: none;
    padding: 1rem 2rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
}


/* Carousel title */
.carouselTitle {
    margin: 0 3rem 1rem 3rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

/* Tablets */
@media (max-width: 1100px) {
    /* General styling */
    .checkoutItemContainer {
        margin: 7rem 3rem 0 3rem;
    }

    .checkoutItem {
        padding: 1.5rem 1.5rem;
    }

    /* Item checkout action */
    .checkoutInfo h3 {
        font-size: var(--fs-300);
    }

    .checkoutInfo button {
        padding: 0.5rem 1rem;
    }

    /* Carousel title */
    .carouselTitle {
        font-size: var(--fs-300);
    }
}

/* Mobile */
@media (max-width: 576px) {
    /* General styling */
    .checkoutItemContainer {
        margin: 6.5rem 1rem 0 1rem;
    }

    .checkoutItemContainer h1 {
        font-size: var(--fs-300);
    }

    .checkoutEmpty {
        margin: 12rem 3rem 10rem 3rem;
        font-size: var(--fs-200);
        font-weight: var(--fw-medium);
    }

    .checkoutItem {
        padding: 0.25rem;
    }

    /* Item image */
    .checkoutItem img {
        width: 70%;
    }

    /* Item name */
    .itemName {
        font-size: var(--fs-100);
    }

    /* Item quantity */
    .quantityControls {
        justify-self: right;
        font-size: var(--fs-100);
    }

    .quantityControls button {
        background-color: transparent;
        border: none;
        font-size: var(--fs-200);
        padding: 0 0.1rem;
        cursor: pointer;
    }

    .quantityControls span {
        padding: 0 0.3rem;
    }

    .quantityControls button {
        padding: 0 0.5rem;
    }

    .itemPrice {
        font-size: var(--fs-100);
    }

    /* Item checkout action */
    .checkoutInfo {
        margin: 1rem 0 5rem 0;
    }

    .checkoutInfo h3 {
        font-size: var(--fs-200);
        font-weight: var(--fw-bold);
    }

    .checkoutInfo button {
        background-color: var(--clr-neutral-900);
        color: var(--clr-neutral-100);
        border: none;
        padding: 0.5rem 0.75rem;
        font-size: var(--fs-200);
        font-weight: var(--fw-bold);
        cursor: pointer;
    }

    /* Carousel title */
    .carouselTitle {
        margin: 0 1rem 1rem 1rem;
        font-size: var(--fs-200);
    }
}