/* General styling */
.loginContainer {
  max-width: 600px;
  margin: 20rem auto;
  padding: 2rem;
}

.loginTitle {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  margin-bottom: 2rem;
}

/* Form styling */
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loginForm input::placeholder {
  padding-left: 0;
  margin-left: 0;
  text-indent: 0;
}

.loginForm input {
  padding: 1rem;
  text-indent: 0.25rem;
  font-size: var(--fs-300);
  border: 1px solid var(--clr-neutral-600);
  width: 100%;
}

.loginForm input:focus {
  border: 1.5px solid var(--clr-neutral-900); 
  color: var(--clr-neutral-900);
  outline: none; 
}

.loginActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Form button */
.loginForm button {
  width: 35%;
  padding: 1rem;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  border: none;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

/* Links */
.loginLinks {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-100);
  line-height: 1.2rem;
  text-align: left;
  text-decoration: none;
  color: var(--clr-neutral-900);
  text-align: right;
  cursor: pointer;
}

.forgotPassword {
  font-style: italic;
}

.registerLink {
  font-weight: var(--fw-bold);
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

/* Mobile */
@media (max-width: 576px) {
  /* General styling */
  .loginContainer {
    max-width: 600px;
    margin: 15rem auto;
    padding: 2rem;
  }

  .loginTitle {
    font-size: var(--fs-300);
    margin-bottom: 1rem;
  }

  /* Form styling */
  .loginForm {
    gap: 1rem;
  }

  .loginForm input {
    font-size: var(--fs-200);
  }

  /* Form button */
  .loginForm button {
    font-size: var(--fs-200);
  }
}
